
Basic Javascript Projects/Dev_Tools_Assignment/index.html
Basic Javascript Projects/Async_and_Defer/JS/main.js
Basic Javascript Projects/Async_and_Defer/index.html
Basic Javascript Projects/Project4_dictionaries/JS/main.js
Basic Javascript Projects/While_loops/index.html
Basic Javascript Projects/While_loops/JS/main.js
Basic Javascript Projects/Project4_dictionaries/JS/main.js
